.valign-wrapper {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    padding: 0px 30px;
}

#outer {
    flex-direction: column;
}

.noStyle {
    width: 10px;
}

.serieStyle {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
    font-weight: 400;
}

#save-invoice {
    display: none;
}

#cancel-invoice {
    display: none;
}

.container center {
  border: solid 1px black;
}

/* Add a black background color to the top navigation */
.topnav {
  box-shadow: none;  
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00b8a9;
  color: white;
}

.logo {
    width: 10%;
    height: 10%;
}

.card {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    box-shadow: none;
    width: 500px;

}

#new-post {
    display: none;
}

#edit-post {
    display: none;
}

#delete-post {
    display: none;
}

/* .edit-btn {
    background-color: #fff !important;
}

.save-btn {

}

.cancel-btn {

} */

.new-post-btn {
    background-color: #44d9cd !important;
    color: #fff;
    display: flex;
    justify-content: center;
    width: auto; 
    box-shadow: none;
}

.btn, .btn-large {
    box-shadow: none;
}

.type-text {
    color: rgb(216, 216, 216);
}

.title-name {
    font-size: 20px;
    font-weight: 600;
}